<%- include('layouts/header.ejs') %>

  <!-- start carousel-->
  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="mx-auto p-2" style="width: 200px;">
      </div>
      <div class="carousel-item active">
        <img src="imgscarousel/nyc.jpg" class="d-block w-100" alt="slide1">
      </div>
      <div class="carousel-item">
        <img src="imgscarousel/oax.jpg" class="d-block w-100" alt="slide2">
      </div>
      <div class="carousel-item">
        <img src="imgscarousel/IMG_7221.jpg" class="d-block w-100" alt="slide2">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--end carousel-->>
  <br>

  <!-- start gifs-->
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-2">
        <img src="imgscarousel/ghosty.gif" alt="ghosty" width="40%">
      </div>
      <div class="col-2">
        <img src="imgscarousel/ghosty.gif" alt="ghosty" width="40%">
      </div>
      <div class="col-4">
        <img src="imgscarousel/ghosty.gif" alt="ghosty" width="60%">
      </div>
      <div class="col-2">
        <img src="imgscarousel/ghosty.gif" alt="ghosty" width="40%">
      </div>
      <div class="col-2">
        <img src="imgscarousel/ghosty.gif" alt="ghosty" width="40%">
      </div>
    </div>

  </div>
  <!-- end gifs-->

  <hr>
  <br>

  <div class="container">
    <div class="row">
      <div class="col-2">
        <img src="imgscarousel/r n m 1 .jpg" alt="rick and morty" width="60%">
      </div>
      <div class="col-8 text-center">
        <h1>Hello World!</h1>
        <br>
        <p>Hello user, welcome to my website! Here you may find my experience, education, projects, and contact info. Browse around!</p>
      </div>
      <div class="col-2">
        <img src="imgscarousel/r n m 2 .png" alt="rick and morty" width="60%">
      </div>
    </div>
  </div>

  <hr>
  <br>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1>RowdyHacks 2023</h1>
        <br>
        <p>My view in my very first hackathon setup in UTSA - School of Data Science.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row text-center">
      <div class="col">
        <video poster="imgscarousel/hackerguy.jpeg" width="100%" height="100%" controls><source src="../public/imgscarousel/new_vid.mov" type="video/mp4"></video>
      </div>
    </div>
  </div>

  <br>
  <br>
  <br>
  <!-- Bootstrap -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>